@media (max-width: 950px) {
  nav.open {
    display: flex;
    position: absolute;
    top: 70px;
    left: 18px;
    right: 18px;
    flex-direction: column;
    gap: 0;
    padding: 8px;
    background: #fff;
    border: 1px solid var(--line);
    border-radius: 12px;
    box-shadow: 0 16px 35px #071d421a;
  }
  nav.open a { padding: 13px 14px; }
}

